<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <title>Validace</title>
    </head>
    <body >

    <div class="container">
        <h1>Přidat uživatele</h1>
        <div class="form">
            <form method="POST" action='/'>
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Jméno</label>
                    <input name="jmeno" type="text" class="form-control" id="jmeno" required>
                </div>

                <div class="mb-3">
                    <label for="exampleInputSurname1" class="form-label">Příjmení</label>
                    <input name="prijmeni" type="text" class="form-control" id="prijmeni" required>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputType1" class="input-group-prepend">Typ uživatele</label>
                    <select class="form-control" name="typ" id="typ" required>
                        <% for(var i = 0; i < result.length; i++) { %>
                        <option name="id_typ" value="<%= result[i].id_typ %>"><%= result[i].typ %></option>       
                        <% } %> 
                        
                        <!--<option>žák</option>
                        <option>učitel</option>-->
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Heslo</label>
                    <input name="heslo" type="password" class="form-control" id="exampleInputPassword1" required>
                </div>

                <hr>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Přidat</button>
                </div>
              </form>
        </div>
    </div>
    
        

    </body>
    <script defer src="/js/validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</html>